// MIXIN - to use the @mixin's below, type in @include [mixin-name] into a code block you want to apply the styles of that @mixin into.

// FONTS
// Chivo
@mixin chivo {
    font-family: "Chivo", sans-serif;
    font-weight: 900;
}

// Roboto Mono Regular
@mixin rmReg {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}

// Roboto Mono Bold
@mixin rmBold {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}

// BTNS
// To apply to: Close, Edit, Delete, Add Project buttons
@mixin action-btn {
    @include rmBold;
    font-size: 18px;
    color: $night;
    text-decoration: none;
}

// To apply to: HOVER Close, Edit, Delete, Add Project buttons
@mixin action-btn-hover {
    transition: 0.15s ease-in;
    border-bottom: solid 2px $night;
}

@mixin action-btn-focus {
    border-bottom: solid 2px $night;
}

// To apply to: Buttons with borders, Login, Submit, etc
@mixin cta {
    @include chivo;
    font-size: 20px;
    color: $blue;
    width: 40%;
    height: 40px;
    border: solid 2px $blue;
    background-color: $offwhite;
}

// To apply to: HOVER Buttons with borders, Login, Submit, etc
@mixin cta-hover {
    transition: 0.3s;
    color: $offwhite;
    border: solid 2px $offwhite;
    background-color: $blue;
}

// VARIABLES - how to use example:
// color: $variable-name;

// COLOURS 
$night: #011502;
$grey: #CFCFC7;
$offwhite: #FEFBF3;
$blue: #004CFF;
$onyx: #323638;


// Nesting
html,
body {
    margin: 0;
    padding: 0;
    background-color: $offwhite;

    // Login Btn to trigger Off Canvas
    .off-canvas-open {
        writing-mode: vertical-rl;
        rotate: 180deg;
        @include chivo;
        font-size: 25px;
        color: $blue;
        text-decoration: none;
        position: absolute;
        top: 40px;
        right: 20px;
    }

    // Hover Effect for Login Btn to trigger Off Canvas
    .off-canvas-open:hover {
        transition: 0.15s ease-in;
        border-left: solid 3px $blue;
        transform: translateX(-3px);
    }

    // Off Canvas - Start of Nesting
    .sidebar {
        z-index: 99;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 400px;
        background-color: $offwhite;
        border: solid 2px $blue;
        transition: transform 0.3s ease-out;

        // Contains Login Form Input & Close Btn
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70%;

            // Close Btn for Off Canvas
            .off-canvas-close {
                @include action-btn;
                position: absolute;
                top: 10px;
                right: 15px;
            }

            // Hover Effect for Close Btn for Off Canvas
            .off-canvas-close:hover {
                @include action-btn-hover;
            }

            // Login & Input
            .form-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
                height: 40%;

                label {
                    @include rmBold;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                input {
                    @include rmReg;
                    font-size: 18px;
                    height: 40px;
                    margin-bottom: 25px;
                    color: $onyx;
                    background-color: $grey;
                    border: solid 1px $night;
                }

            }


            #loginBtn {
                @include cta;
                position: relative;
                left: 80px;
            }

            #loginBtn:hover {
                @include cta-hover;
            }

        }

    }

    // Logout Button 
    #logoutBtn {
        @include cta;
        position: relative;
        left: 200px;
    }
    #logoutBtn:hover {
        @include cta-hover;
    }
    // Off Canvas Welcome Message Styling 
    .welcome {
        @include chivo; 
        font-size: 20px;
        position: relative;
        align-items: center;
        margin-left: 50px;
    }

    // End of Off Canvas Nesting

    // Off Canvas transform
    .sidebar.is-hidden {
        transform: translateX(405px);
    }

    // 2207-WUX Title
    .title-container {
        margin-left: 80px;
        margin-top: 175px;

        #title {
            @include chivo;
            font-size: 95px;
            color: $onyx;
            margin-bottom: 20px;
        }

    }

    // Accordion - Start of Nesting
    .accordion {

        // Name Surname Btn
        #accordionButton {
            @include chivo;
            font-size: 65px;
            color: $grey;
            border: none;
            background: none;
            outline: none;

            &:hover {
                cursor: pointer;
                color: $night;
            }

            .accordion-title {
                padding-left: 80px;
            }

        }

        #accordionButton[aria-expanded='true'] {
            color: $night;

            +.accordion-content {
                opacity: 1;
                max-height: 100%;
                width: 99.85vw;
                transition: all 200ms linear;
                border: solid 2px $blue;
                overflow-x: scroll;
            }
        }

        // Accordion Content
        .accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;

            // Project Carousel - Start of Nesting
            .projects-carousel {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                border-bottom: solid 2px $blue;
                overflow-x: scroll;

                // Individual Project Item
                .item-project {
                    width: 33.3%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    border-right: solid 2px $blue;

                    .project-title {
                        @include chivo;
                        font-size: 20px;
                        color: $night;
                        margin: 0;
                    }

                    .project-img {
                        padding: 20px 0;
                        margin: auto;
                        max-width: 30.5vw;
                        max-height: 26.5vh;
                    }

                    .project-img:hover {
                        padding: 5px 0;
                        margin: auto;
                        max-width: 34vw;
                        max-height: 30vh;
                    }

                }

                // Action Btns - Edit, Delete, Add Project
                .action-btns {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }

    // Edit Project Btn
    .edit-accordion {


        #editAccordionButton {
            @include action-btn;
            cursor: pointer;

            &:hover {
                @include action-btn-hover;
            }

            // .edit-accordion-title {
            //     padding-left: 80px;
            // }

        }

        #editAccordionButton[aria-expanded='true'] {
            border-bottom: solid 2px $night;

            +.edit-accordion-content {
                margin-top: 15px;
                opacity: 1;
                max-height: 50vh;
                width: 99.75vw;
                position: absolute;
                left: 0;
                background-color: $offwhite;
                transition: all 200ms linear;
                will-change: opacity;
                border: solid 2px $blue;
            }
        }

        .edit-accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear;
            will-change: opacity;

            h4 {
                @include chivo;
                font-size: 50px;
                color: $blue;
                margin: 40px;
            }

            .form-container {

                label {
                    @include rmBold;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                input {
                    @include rmReg;
                    font-size: 18px;
                    height: 40px;
                    margin-bottom: 25px;
                    color: $onyx;
                    background-color: $grey;
                    border: solid 1px $night;
                }

            }

            button {
                @include cta;
                width: 100px;
            }

            button:hover {
                @include cta-hover;
            }

        }
    }

    // Delete Project Btn
    .delete-accordion {

        .delete-accordion-item {
            text-align: right;
        }

        #deleteAccordionButton {
            @include action-btn;
            cursor: pointer;

            &:hover {
                @include action-btn-hover;
            }

        }

        #deleteAccordionButton[aria-expanded='true'] {
            border-bottom: solid 2px $night;

            +.delete-accordion-content {
                text-align: left;
                margin-top: 15px;
                opacity: 1;
                max-height: 50vh;
                width: 99.75vw;
                position: absolute;
                left: 0;
                background-color: $offwhite;
                transition: all 200ms linear;
                will-change: opacity;
                border: solid 2px $blue;
            }
        }

        .delete-accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear;
            will-change: opacity;

            h4 {
                @include chivo;
                font-size: 50px;
                color: $blue;
            }

            h6 {
                @include rmBold;
                font-size: 18px;
                color: $night;
            }

            button {
                @include cta;
                width: 100px;
            }

            button:hover {
                @include cta-hover;
            }
        }
    }
}